<mat-toolbar   >
  <mat-toolbar-row fxLayoutAlign="row" fxLayoutAlign="space-between center">
    <span routerLink="/users">Search Guthub Users</span>
    <mat-icon [matMenuTriggerFor]="menu" class="mat_icon notranslate material-icons mat-icon-no-color" role="img"   matTooltip="Select a theme!" aria-hidden="true">format_color_fill</mat-icon>

  </mat-toolbar-row>
  <mat-menu #menu="matMenu" class="menu"  >
    <button class="green" (click)="chooseColor('green')" mat-menu-item>green</button>
    <button class="black"(click)="chooseColor('black')" mat-menu-item>black</button>
    <button class="pink" (click)="chooseColor('pink')" mat-menu-item>pink</button>

  </mat-menu>
</mat-toolbar>
